.activities-page {
  max-width: 100% !important;
  overflow-x: hidden;

  .all-activities {
    margin: 0 auto !important;
  }

  .activity-card {
    margin-bottom: 2rem;
    .activity-row {
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 0 auto !important;
    }
    .activity-image {
      position: relative;
      
      img {
        border: 2px solid #e82fb4;
        border-radius: 1rem;
        object-fit: cover;
        height: 22rem;
      }
    }
    .activity-text {
      margin: 0 auto;
      max-width: 100%;
      margin-bottom: 3rem;
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
  .activities-page {
    .activity-card {
      .activity-text {
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        h2 {
          margin-top: 0.5rem !important;
          font-size: 1.5rem !important;
        }

        h3 {
          font-size: 1.2rem !important;
        }
      }
      .activity-image img {
        width: 100% !important;
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
  .activities-page {
    .activity-card {
      .activity-text {
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        h2 {
          margin-top: 0.5rem !important;
          font-size: 1.5rem !important;
        }

        h3 {
          font-size: 1.2rem !important;
        }
      }
      .activity-image img {
        width: 100% !important;
      }
    }
  }
}
