.events-page {
    max-width: 100% !important;
    overflow-x: hidden;
  
    .weird-circle1 {
      left: 0;
      top: 0;
      svg {
        width: 60rem;
      }
    }
  
    .weird-circle2 {
      right: 0;
      top: 40rem;
      svg {
        width: 60rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  
    .weird-circle3 {
      // overflow: hidden;
      left: 0;
      top: 95rem;
      svg {
        width: 100%;
      }
    }
  
    .weird-circle4 {
      display: none;
    }
  
    .weird-circle5 {
      display: none;
    }
  
    .weird-circle6 {
      display: none;
    }
  
    .purpose-container {
      margin-top: 2rem;
      margin-bottom: 2rem;
  
      .purpose-text {
        margin: 0 auto;
        max-width: 100%;
        width: 60rem !important;
        margin-bottom: 3rem;
      }
    }
  
    .events-initial {
      margin-top: 5rem;
      margin-bottom: 3rem;
  
      .quote-1 {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
        width: 65rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
        font-weight: 400;
        font-size: 1.5rem;
      }
  
      .main-text-area {
        margin: 0 auto;
        max-width: 100%;
        width: 55rem !important;
        margin-bottom: 3rem;
      }
  
      .box2 {
        margin-top: 3rem !important;
      }
    }
  
    .all-blogs-container {
      .blog-container {
        .carousel {
          width: 25rem;
          height: 25rem !important;
          margin: auto;
  
          img {
            border: 2px solid #e82fb4;
            border-radius: 1rem;
            width: 26rem;
            height: auto;
          }
        }
        .blog {
          padding-left: 4rem;
        }
        .blog-center-container {
          margin: 0 auto !important;
          text-align: center;
          max-width: 100%;
          width: 55rem !important;
          margin-bottom: 3rem;
        }
      }
    }
  }
  
  // X-Large devices (large desktops, less than 1400px)
  @media (max-width: 87.49875em) {
  }
  
  // Large devices (desktops, less than 1200px)
  @media (max-width: 74.99875em) {
    .weird-circle1 {
      svg {
        width: 50rem !important;
      }
    }
  
    .weird-circle2 {
      top: 50rem !important;
      svg {
        width: 60rem !important;
      }
    }
  
    .weird-circle3 {
      top: 100rem !important;
      svg {
        width: 50rem !important;
      }
    }
  }
  
  // Medium devices (tablets, less than 992px)
  @media (max-width: 61.99875em) {
    .purpose-text {
      h1 {
        font-size: 1.5rem !important;
      }
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .events-initial {
      .quote-1 {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem !important;
      }
      .main-text-area {
        h1 {
          font-size: 1.5rem !important;
        }
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  
    .all-blogs-container {
      margin-left: 0 !important;
      padding-left: 2rem;
  
      .image-container {
        text-align: center;
      }
    }
  
    .weird-circle3 {
      top: 110rem !important;
      svg {
        width: 50rem !important;
      }
    }
  
    .weird-circle4 {
      display: block !important;
      top: 180rem !important;
      svg {
        width: 50rem !important;
      }
    }
  }
  
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 47.99875em) {
    .purpose-text {
      h1 {
        font-size: 1.5rem !important;
      }
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .all-blogs-container {
      .blog-container {
        .carousel {
          width: 20rem !important;
          height: 20rem !important;
          margin: auto;
  
          img {
            width: 20rem !important;
          }
        }
      }
    }
  
    .events-initial {
      .quote-1 {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem !important;
      }
      .main-text-area {
        h1 {
          font-size: 1.5rem !important;
        }
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  
    .weird-circle1 {
      svg {
        width: 30rem !important;
      }
    }
  
    .weird-circle2 {
      top: 50rem !important;
      svg {
        width: 30rem !important;
      }
    }
  
    .weird-circle3 {
      top: 100rem !important;
      svg {
        width: 30rem !important;
      }
    }
  
    .weird-circle4 {
      display: block !important;
      top: 160rem !important;
      svg {
        width: 30rem !important;
      }
    }
  
    .weird-circle5 {
      display: block !important;
      top: 220rem !important;
      svg {
        width: 30rem !important;
      }
    }
  
    .weird-circle6 {
      display: block !important;
      top: 280rem !important;
      svg {
        width: 30rem !important;
      }
    }
  }
  
  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 35.99875em) {
    .purpose-text {
      h1 {
        font-size: 1.5rem !important;
      }
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .events-initial {
      .quote-1 {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem !important;
      }
      .main-text-area {
        h1 {
          font-size: 1.5rem !important;
        }
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  
    .all-blogs-container {
      margin-left: 0 !important;
      padding-left: 2rem !important;
      .blog-container {
        .blog {
          padding: 0 !important;
        }
  
        .carousel {
          width: 20rem !important;
          height: 20rem !important;
          margin: auto;
  
          img {
            width: 20rem !important;
          }
        }
      }
    }
  
    .weird-circle1 {
      top: 5rem !important;
      right: 0 !important;
      svg {
        width: 30rem !important;
      }
    }
  
    .weird-circle2 {
      right: 0 !important;
      top: 50rem !important;
      svg {
        width: 40rem !important;
      }
    }
  
    .weird-circle3 {
      right: 0 !important;
      top: 100rem !important;
      svg {
        width: 40rem !important;
      }
    }
  
    .weird-circle4 {
      right: 0 !important;
      display: block !important;
      top: 160rem !important;
      svg {
        width: 30rem !important;
      }
    }
  
    .weird-circle5 {
      right: 0 !important;
      display: block !important;
      top: 220rem !important;
      svg {
        width: 40rem !important;
      }
    }
  
    .weird-circle6 {
      right: 0 !important;
      display: block !important;
      top: 280rem !important;
      svg {
        width: 45rem !important;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
  