.footer-distributed {
  color: #e82fb4;
  margin-top: auto;
  background: #f8bdd6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 1.125rem;
  padding: 3.438rem 3.125rem;

  border-top: 0.1px solid black;

  .footer-company-name {
    margin-top: 1rem;
  }

  .footer-links {
    margin: 1.25rem 0 0.75rem;
    padding: 0;

    a {
      color: #e82fb4 !important;
      display: block;
      margin-right: 0.313rem;
      line-height: 1.8;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
      transition: ease-in-out 0.3s;
      &:hover {
        color: black !important;
      }
    }
  }

  p {
    font-size: 1;
    display: inline-block;
    color: black;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
  }

  .footer-right {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .special i {
    padding: 1.2rem;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }

  hr {
    height: 0.2px;
    border: none;
    background: black !important;
    margin-top: 50px;
    opacity: 0.7;
  }
}

.footer-button {
  padding: 0.625rem 0;
  background-color: #f178b6 !important;
  color: white;
  cursor: pointer;
  width: 11.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  border: 1px solid transparent !important;
  text-transform: uppercase;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
  margin: 0 !important;
  box-shadow: none;
  &:hover {
    background-color: transparent;
    color: black !important;
  }
  &:active {
    color: white;
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
    color: white;
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
  .footer-distributed {
    text-align: center;
    margin: 0 auto !important;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
  .footer-distributed {
    text-align: center;
    margin: 0 auto !important;

    .footer-right {
      margin-top: 1rem !important;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
  .footer-distributed {
    text-align: center;
    margin: 0 auto !important;

    .footer-right {
      margin-top: 1rem !important;
    }
  }
}
